* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}


 /*HERE BE THE HEADER STUF*/
#main{
	width: 100%;
	height: 75px;
}

.fixed{
	margin-top:-30px;
	position: fixed;
	flex: 0 0 auto;
	width: 100%;
}
#top {
	width: auto;
	height: 30px;
	background: #111;
	color: #ccc;
	font-size: .8em;
	line-height: 30px;
	display: flex;

}

#top li:hover{
	color: white;

}


ul {
	list-style: none;
}

.left {
	text-align: left;
	flex:1 0 auto;
}

.right {
	text-align: right;
	flex:1 0 auto;
}

li {
	display: inline-block;
	margin-left: .5em;
}

#sections {
	width: 100%;
	height: 45px;
	background: white;
	font-family: "Cairo";
	line-height: 45px;
	display:flex;
	color: #aaa;
}

#sections li:hover {
	color: black;
}

/*HERE BEGINS THE BODY OF THE SITE*/

#bigarticles {
	width: 100%;
	height: 75vh;
	background: #882f01;
	display: flex;
}

#headliner {
	width: 50%;
	height: 100%;
	background-image: url(../img/loungr.jpg);
	background-position: center center;
	background-size: cover;
	z-index: 1;
	position: relative;
}

.articlelink {
	background: url(../img/image-gradient.png) no-repeat rgba(0,0,0,.25);
	background-size: 100% 100%;
	position: absolute;
	display: block;
	z-index: 2;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
}

.covergradient {
	background: url(../img/cover-gradient.png) top left no-repeat;
	background-size: cover;
	bottom: 4px;
	left: 4px;
	mix-blend-mode: lighten;
	right: 4px;
	top: 4px;
	z-index: 4;
	position: absolute;
}
#secondary_articles {
	width: 50%;
	height: 100%
}

#article2 {
	width: 100%;
	height: 50%;
	background: url(../img/apple.png);
	background-position: center center;
	background-size: cover;
	position: relative;
}

#tertiary {
	width: 100%;
	height: 50%;
	display: flex;
}

#article3 {
	width: 50%;
	height: 100%;
	background: url(../img/amazon.png);
	background-position: center center;
	background-size: cover;
	position: relative;
}

#article4 {
	width: 50%;
	height: 100%;
	background: url(../img/emoji.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;
}

#latestnews, #latestdeals {
	width: 85%;
	min-width: 1000px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

#articlecontainer, #latestdealscontainer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

#latestnews header, #latestdeals header {
	width: 100%;
	line-height: 1.5;
	font-size: 28px;
	font-weight:400;
	display: flex;
}

#latestnews article, #latestdeals article {
	width: 25%;
	height: 200px;
	background: #537829;
	border: 1px solid #9c79c9;
}

#categories {
	width: 85%;
	min-width: 1000px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	margin-top: 50px;
}

#categories div {
	width: 33.33%;
	height: 400px;
	background: #f5bb8c;
	border: 1px solid #cb5b9b;
}

#quoteoftheday {
	width: 100%;
	height: 300px;
	background: #9cf6e8;
	margin-top: 50px;
}

#footlinks {
	width: 100%;
	height: 150px;
	background: #7c4566;
}

#copyright {
	width: 100%;
	height: 100px;
	background: #63ac41;
}

/*less than 1024 px wide settings*/

@media screen and (max-width: 1024px)  {

#bigarticles{
	flex-direction: column;
	height: 60vh;
}

#headliner{
	width: 100%;
	height: 60%;
}

.covergradient{
	background: none;
}
#secondary_articles {
	width: 100%;
	height: 40%;
	display: flex;
}
#article2 {
	flex: 1;
	height: 100%
}

#tertiary {
	flex: 2;
	height: 100%
}

#latestnews article, #latestdeals article {
	width: 33.33%;
	height: 200px;
	background: #537829;
	border: 1px solid #9c79c9;
}

#latestnews, #latestdeals {
	width: 98%;
	min-width: 0px;
}

#categories {
	width: 98%;
	min-width: 10px;
}

#categories div {
	width: 50%;
	height: 400px;
}

#quoteoftheday {
	height: 200px;
}
}

@media screen and (max-width: 768px)  {
	#bigarticles {
		width: 100%;
		height: 115vh;
		flex-direction: column;
	}

	#headliner {
		width: 100%;
		height: 25%;
	}

	#secondary_articles {
		width: 100%;
		height: 75%;
		flex-direction: column;
	}

	#article2 {
		width: 100%;
		height: 33%%;
	}

	#tertiary {
		width: 100%;
		height: 66%;
		flex-direction: column;
	}

	#article3, #article4 {
		width: 100%;
		height: 50%%;
	}
	#latestnews article, #latestdeals article {
		width: 100%;
		height: 100px;
		background: #537829;
		border: 1px solid #9c79c9;
	}

	#latestnews, #latestdeals {
		width: 98%;
		min-width: 0px;
	}

	#categories div {
	width: 100%;
	height: 600px;
}

}